.square {
  background: #fff;
  border: 1px solid gray;
  font-size: 24px;
  text-align: center;
  height: 34px;
  width: 34px;
  padding: 0;
  margin-right: -1px;
  margin-top: -1px;
  float: left;
}
.board-row {
  display: table;
}
